---
title: Blog
permalink: "/blog/"
layout: default
---

<div class="symbol flex">
	<a href="{{site.baseurl}}/"><i class="icon-left-open"></i></a>
</div>

<div class="posts">
	{% for post in site.posts %}
	{% if post.category contains 'post' %}
	<article class="post flex" style="background-image: url('../images/{{ post.img }}')">
		<a href="{{ site.baseurl }}{{ post.url }}"><div class="overlay flex">
			<h4>{{ post.title }}</h4>
			<p>"<em>{{ post.excerpt }}</em>"</p>
		</div></a>
	</article>
	{% endif %}
	{% endfor %}
</div>