---
layout: default
title: Work
permalink: /work/
---

<div class="symbol">
	<a href="{{site.baseurl}}/"><i class="fa fa-arrow-left"></i></a>
</div>

<div class="posts">
	{% for post in site.posts %}
	{% if post.category contains 'work' %}
	<article class="post" style="background-image: url('../images/{{ post.img }}')">
		<a href="{{ site.baseurl }}{{ post.url }}">
			<div class="overlay">
				<h4>{{ post.title }}</h4>
				<p>"{{ post.excerpt }}"</p>
			</div>
		</a>
	</article>
	{% endif %}
	{% endfor %}
</div>