<div id='product-component-0d65472a09a'></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'molecular-jewelry.myshopify.com',
      apiKey: '672a98b97f166bdd76bc5846ff85fdb5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [9738891140],
        node: document.getElementById('product-component-0d65472a09a'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "all",
    "width": "240px",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "BUY NOW"
    },
    "styles": {
      "product": {
        "text-align": "left",
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#9cafd4",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        "padding-left": "30px",
        "padding-right": "30px",
        ":hover": {
          "background-color": "#8c9ebf"
        },
        "border-radius": "0px",
        ":focus": {
          "background-color": "#8c9ebf"
        }
      },
      "quantityInput": {
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px"
      },
      "compareAt": {
        "font-size": "12px"
      }
    }
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#9cafd4",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#8c9ebf"
        },
        "border-radius": "0px",
        ":focus": {
          "background-color": "#8c9ebf"
        }
      },
      "footer": {
        "background-color": "#ffffff"
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#9cafd4",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        "padding-left": "30px",
        "padding-right": "30px",
        ":hover": {
          "background-color": "#8c9ebf"
        },
        "border-radius": "0px",
        ":focus": {
          "background-color": "#8c9ebf"
        }
      },
      "quantityInput": {
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px"
      }
    }
  },
  "toggle": {
    "styles": {
      "toggle": {
        "background-color": "#9cafd4",
        ":hover": {
          "background-color": "#8c9ebf"
        },
        ":focus": {
          "background-color": "#8c9ebf"
        }
      },
      "count": {
        "font-size": "14px"
      }
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script>