---
layout: default
---

<div class="symbol flex">
	<a href="{{site.baseurl}}/blog"><i class="icon-left-open"></i></a>
</div>


<article class="entry">
	<h1>{{ page.title }}</h1>
	
	<h5>{{ page.excerpt }}</h5>

	<hr>
	
	<p class="date">
		Written on {{ page.date | date: "%B %e, %Y" }}
	</p>
	
	{{ content }}
</article>

<div class="footer" style="background-image: url('../images/{% if page.img2 %}{{ page.img2 }}{% else %}{{ page.img }}{% endif %}')">
	<div class="overlay overlay-dark flex">
		<a href="/work" class="back button flex">Back to Portfolio</a>
	</div>
</div>